  <%= turbo_frame_tag dom_id(todo) do %>
    <%= content_tag :li, class: "list-group-item #{completed?(todo)}" do %>
      <div class="d-flex justify-content-between">
        <%= link_to todo.title, todo %>
        <div class="d-flex">
          <%= link_to 'completed', update_completed_path(todo), class: "btn #{todo.completed ? 'btn-dark' : 'btn-info'} btn-sm mr-3" %>
          <%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-success btn-sm mr-3' %>
          <%= button_to 'Delete', todo, method: :delete,class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    <% end %>
  <% end %>