<div class="container">
  <%= turbo_stream_from :todos %>

  <div class="row justify-content-center mt-3">
    <div class="col-12">
      <%= turbo_frame_tag :todo_form do %>
      <!-- <%= render 'form', todo: @todo %> -->
        <%= link_to 'New Todo', new_todo_path, class: 'btn btn-primary float-rigth' %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12">
      <h3>All Todos</h3>
      <%= link_to 'List all', todos_path, "data-turbo-frame": "_top" %>
      <hr>
      <div class="row justify-content-center mt-3">
        <div class="col-12">
            <%= render 'search' %>
        </div>
      </div>

      <ul class="list-group list-group-flush">
      <%= turbo_frame_tag :todos do %>
        <%= render @todos %>
      <% end %>
      </ul>
    </div>
  </div>
</div>