<%= turbo_frame_tag dom_id(@todo) do %>
  <div class="d-flex w-100 justify-content-between">
    <p>
      <strong>Title:</strong>
      <%= @todo.title %>
    </p>

    <p>
      <strong>Completed:</strong>
      <%= @todo.completed %>
    </p>

    <%= link_to 'Edit', edit_todo_path(@todo), class: 'btn btn-success btn-sm mb-3' %>
    <%= link_to 'Back', todos_path, "data-turbo-frame": "_top", class: 'btn btn-warning btn-sm mb-3' %>
  </div>
<% end %>